.header {
  display: flex;
}
.header p {
  font-size: 2rem;
  font-weight: 600;
}

.responsive-table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #ddd;
  text-align: left;
}


@media (max-width: 600px) {
  th,
  td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  td {
    text-align: right;
    border-bottom: 1px solid #ddd;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
  }
}
